<section ng-template="/ng-common-extensions/templates/controlField.tmpl.html">
    <div class=" col-lg-{{ colspan }} col-inline-field" ng-validation-result="controlModel['$errors'][controlField]">
        <label class="control-label">{{ controlLabel }}</label>
        <div ng-switch="controlType" class="control-field">
            <input ng-switch-when="text" 
                   type="text" 
                   class="form-control input-sm" 
                   ng-model="controlModel[controlField]" 
                   placeholder="{{ controlPlaceholder }}" />
        </div>
        
    </div>
</section>
